<%- contentFor('login') %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="animals.css">
<script type="text/javascript" src="bower_components/jquery.min.js">

</script>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
  </head>
  <body>
    <div class="total">
      <div class="total-flex">
        <div class="coluna-esquerda">

          <div class="painel" id="painel">
            <div class="painel-logo">
              <img src="img/logo.svg" width="150" alt="">
              <!--img src="img/facebook.svg" width="50" alt=""-->
            </div>
            <form class="" action="/login" method="post">
              <div class="painel-cadastrar-face">
                <button type="button" onclick="window.location.href='/auth/facebook/callback'" name="button"><img src="img/facebook.svg" width="25" alt=""> ENTRAR COM FACEBOOK</button>
              </div>
		    <% if (login_message.length > 0) { %>
		        <div class="alert alert-danger"><%= login_message %></div>
		    <% } %>  

              <div class="painel-login">
                <div class="painel-input">
                  <img src="img/avatar.svg" width="20" alt="">
                  <input type="text" name="email" value="" placeholder="Digite seu login" autofocus>
                </div>
                <div class="painel-input">
                  <img src="img/pw.svg" width="20" alt="">
                  <input type="password" name="password" value="senha123">
                </div>
                <div class="esqueci">
                  <p><a href="/pass-recovery">Esqueci minha senha</a></p>
                </div>
                <p> ou </p>
                <div class="esqueci">
                  <p><a href="/pass-change">Alterar minha senha</a></p>
                </div>
                <div class="painel-botao">
                  <button type="submit" name="btnentrar">Entrar</button>
                </div>
                <br>
                <div class="painel-cadastrar">
                  <p>Ainda não tem seu cadastro?</p>
                    <a href="#" id="cadastrarBtn">Crie sua conta.</a>
                </div>
              </div>
            </form>
          </div>




          <div class="painelc" id="cadastroP">
            <div class="painel-logo">
              <img src="img/logo.svg" width="150" alt="">
              <!--img src="img/facebook.svg" width="50" alt=""-->
            </div>
		    <% if (signup_message.length > 0) { %>
		        <div class="alert alert-danger"><%= signup_message %></div>
		    <% } %>            
            <form class="" action="/signup" method="post">
              <div class="painel-cadastrar-face">
                <button type="button" onclick="window.location.href='/auth/facebook/callback'" name="button"><img src="img/facebook.svg" width="25" alt=""> CADASTRAR COM FACEBOOK</button>
              </div>

              <div class="painel-login">
                <div class="painel-input">
                  <img src="img/avatar.svg" width="20" alt="">
                  <input type="text" name="name" value="" placeholder="Digite seu Nome" autofocus required>
                </div>
                <div class="painel-input">
                  <img src="img/mail.svg" width="20" alt="">
                  <input type="mail" name="email" value="" placeholder="Digite seu email" required>
                </div>
                <div class="painel-input">
                  <img src="img/pw.svg" width="20" alt="">
                  <input type="password" name="password" value="senha123" required>
                </div>

                <div class="painel-botao">
                  <button type="submit" name="btncad">Cadastrar</button>
                </div>
                <br>
                <div class="painel-cadastrar">
                    <p>Ja tem sua conta? </p>
                    <a href="#" id="logar">Faca o login.</a>
                </div>
              </div>
            </form>
          </div>





        </div>
        <div class="coluna-direita">
          <div class="news">
            <div class="noticias">
              <h1>Ajude o jozelito a encontrar um lar!</h1>
              <div class="">
                <button type="button" name="button">COMPARTILHAR</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<script type="text/javascript">

$("#cadastroP").hide("");

$("#cadastrarBtn").click(function(){
  $("#painel").toggle();
  $("#cadastroP").toggle();
  $("#cadastroP").toggleClass("hide");
});

$("#logar").click(function(){
  $("#painel").toggle();
  $("#cadastroP").toggle();
  $("#cadastroP").toggleClass("hide");
});
</script>
  </body>
</html>
