<%- contentFor('login') %>
    <div class="jumbotron text-center">
        <h1><span class="fa fa-book"></span> Teste fodao de login!</h1>

        <p>Faca Login ou se Registre com:</p>

        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/login" class="btn btn-warning"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-danger"><span class="fa fa-user"></span> Local Signup</a>
    </div>