<%- contentFor('mail-change-pass') %>
    <form method="POST" action="/mail-pass-change">
        Email: <input type="text" name="email"><br>
        <input type="submit" value="Submit">
    </form>