<%- contentFor('mail-recovery-pass') %>
    <form method="POST" action="/mail-pass-recovery">
        Email: <input type="text" name="email"><br>
        <input type="submit" value="Submit">
    </form>